.element {
  border: 1px solid darkslategray;
  background-color: rgba(110, 124, 2, 0.408);
  padding: 4px;
  border-radius: 8px;
  margin: 10px 0;

  .element_item {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    span {
      color: rgb(185, 154, 19);

      h3 {
        display: inline-block;
        color: rgb(228, 201, 77);
      }
    }
  }

  .title {
    span {
      color: rgb(31, 181, 31);

      h3 {
        color: rgb(83, 203, 83);
      }
    }
  }
}
